*, *::after, *::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans';
}

#container {
  background-color: #eee;
}

h1 {
  color: #e60b4e;
  text-align: center;
  font-size: 10vh;
  font-family: 'Kaushan Script';
}

h2 {
  font-family: 'Kaushan Script';
  color: #5C3189;
  font-size: 5vh;
}

#landing h2 {
  color: #eee;
}

p {
  font-size: 2.5vh;
}

#landing {
  /* https://pixabay.com/en/wood-texture-dark-black-wall-1759566/ */
  background-image: url("../img/color-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #eee;
  
  font-family: 'Kaushan Script';
}

#heading {
  font-size: 20vh; 
  color: #eee;
}

#heading:hover {
  font-size: 25vh;
}

.section {
  padding: 7.5vh 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subsection {
  display: flex;
  flex-direction: column;
  padding: 2.5vh 2.5vw;
}

#profile {
  border-style: solid;
  border-radius: 100%;
  height: 40vh;
}
